#wall .tag-1 {
  display: none;
}

div#wall  div#tag-2 {
  display: none;
}

div#wall div#tag-3.slick {
  display: none;
}

#wall div.parent div#tag-4 {
  display: none;
}

div#wall div.parent div#tag-5.slick {
  display: none;
}

div#wall div.parent div:last-child div:nth-child(2)#tag-6 {
  display:none;
}
